.container-fluid{
    height:550px;
    background-color:purple;
}
.heading__title{
    color:white;
}
.menu__item{
    margin-top:0px;
    color:white;
}
.form__name{
    margin-top:70px;
}
.form__password{
    margin-top:30px;
}
.registerbtn{
    margin-top: 70px;
    margin-left:600px;
}
.loginbtn{
    margin-top: 70px;
    margin-left:600px;
}